<% title 'New snippet' %>

<div class="page-header">
  <%= link_to :back, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New snippet</h1>
</div>

<%= render 'form' %>

<%#= javascript_include_tag 'ace-editor/ace' %>
<%= javascript_tag do %>
    <!--var editor = ace.edit("editor");-->
    <!--editor.setTheme("ace/theme/default");-->
    <!--editor.getSession().setMode("ace/mode/javascript");-->
<% end %>