<div class="profile-container">
  <img class="pic img-circle"
       data-toggle="tooltip" data-placement="bottom"
       src="<%= github_avatar(@user.uid, 80) %>" style="width: 80px;">
  <p class="label label-primary label-username-page"><%= @user.name %></p>
</div>

<%= render :template => 'snippets/index.html.erb' %>