<% title 'About' %>

<div class="page-header">
    <h1 id="about-header">Authors</h1>
</div>
<div class="jumbotron">
  <div class="highlight">
    <pre id="json-team">
      {
        <span class="nt">"JSON_team"</span>: {
          <span class="nt">"member"</span>: {
            <span class="nt">"name"</span>: <span class="s2">"Dariusz Gafka"</span>,
            <span class="nt">"github_acc"</span>: "<b><a href="https://github.com/dgafka">dgafka</a></b>"
          },
          <span class="nt">"member"</span>: {
            <span class="nt">"name"</span>: <span class="s2">"Daniel Banecki"</span>,
            <span class="nt">"github_acc"</span>: "<b><a href="https://github.com/Dejniel">Dejniel</a></b>"
          },
          <span class="nt">"member"</span>: {
            <span class="nt">"name"</span>: <span class="s2">"Dawid Zawadzki"</span>,
            <span class="nt">"github_acc"</span>: "<b><a href="https://github.com/ghost717">ghost717</a></b>"
          },
          <span class="nt">"member"</span>: {
            <span class="nt">"name"</span>: <span class="s2">"Roman Józwiak"</span>,
            <span class="nt">"github_acc"</span>: "<b><a href="https://github.com/gruchanet">gruchanet</a></b>"
          }
        }
      }
    </pre>
  </div>
    <p class="bottom-info page-header">
      Find us on
      <a href="https://github.com/gruchanet/snippeter_on_steroids" target="_blank">
        <%= image_tag 'github_ruby_mini.png', :class => 'github-logo', :alt => 'GitHub.com' %>
      </a>
    </p>
</div>
